doctype Html
Html
  head
    meta(charset='utf-8')
  body
    form(action='/info')
      p
        input(type='text' name='id' placeholder='id')
        input(type='text' name='pw' placeholder='password')
          //-서버랑 얘량 연결하는 고리  placeholder는 아이디입력
      p
        input(type='reset' value='clear')
        input(type='submit' value='login')
          
          
      
