Html
  head
    meta(charset='utf-8')
    //주석 처리 보인다. 라인 맞추기!!
    //- 주석 처리 안보인다.
    title= tl  
    //-변수처리를 크게 2가지 할 수 있음
    //-  1. =변수   2. #{변수}
  body
    ul
      //--for(var i=0;i<10;i++)
      li Coffee
      ul
        li StarB
        li Angl
        li Giga
    ul
      li Tea
      ul
        li Black Tea
        li Green Tea
        ul
          li China
          li Africa
      //--for(var i=0;i<3;i++)

    ul
      li Milk
      ul
        li Choco
        li Mint
